<a href="https://colab.research.google.com/github/tariqzia5/Python_P/blob/main/Copy_of_Python_Session3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
age=60
if age<50:
  print("Group1")

In [ ]:
age=60
if age<50:
  print("Group1")
print("Done with if")

Done with if

In [ ]:
age=40
if age<50:
  print("Group1")
print("Done with if")

Group1
Done with if

In [ ]:
age=40
if age<50:
  print("Group1")
else:
  print("Done with if")

Group1

In [ ]:
marks=87
if (marks<30):
  print("fail")
elif(marks<60):
  print("Second class")
elif(marks<80):
  print("First class")
elif(marks<100):
  print("Distinction")
else:
  print("Error in marks")

Distinction

In [ ]:
marks=120
if (marks<30):
  print("fail")
elif(marks<60):
  print("Second class")
elif(marks<80):
  print("First class")
elif(marks<100):
  print("Distinction")
else:
  print("Error in marks")

Error in marks

In [ ]:
age=16
income=1200

In [ ]:
if age<18 or income<1000:
  print("Disqualified")
else:
  print("Qualified")

Disqualified

In [ ]:
if age<18 and income<1000:
  print("Disqualified")
else:
  print("Qualified")

Qualified

# Iterators

In [ ]:
for x in range(1,20):
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
for i in [1,2,3,4,5,6,7]:
  print(i)

1
2
3
4
5
6
7

In [ ]:
lst2=[1,2,35,45,55]

In [ ]:
for i in lst2:
  print(i)

1
2
35
45
55

In [ ]:
#We will try to print the cumulative sum of first n elements
sum=0
for i in range(1,11):
  sum=sum+i
  print(sum)

1
3
6
10
15
21
28
36
45
55

In [ ]:
#We will try to print the cumulative sum of first n elements
sum=0
for i in range(1,11):
  sum+=i
  print(sum)

1
3
6
10
15
21
28
36
45
55

In [ ]:
#We will see the use of break statement
sum=0
for i in range(1,200):
  sum=sum+i
  print(sum)
  if(i>10):
    break

1
3
6
10
15
21
28
36
45
55
66

In [ ]:
#We will see the use of break statement
sum=0
for i in range(1,200):
  if i>10:
    break
  sum=sum+i
  print(sum)

1
3
6
10
15
21
28
36
45
55

In [ ]:
#We will see the use of break statement
sum=0
for i in range(1,200):
  if sum>100:
    break
  sum=sum+i
  print(sum)

1
3
6
10
15
21
28
36
45
55
66
78
91
105

# LAB-for loops

In [ ]:
lst=[1,2,5,4,6,3,4,8]

In [ ]:
for i in lst:
  if i%2==0:
    print(i)

2
4
6
4
8

In [ ]:
for i in range(1,101):
  if i%4==0:
    print(i)

4
8
12
16
20
24
28
32
36
40
44
48
52
56
60
64
68
72
76
80
84
88
92
96
100

# Functions in python

In [ ]:
num=43
if num%2==0:
  print("The number is even")
else:
  print("The number is odd")

The number is odd

In [ ]:
def odd_even(num):
  if num%2==0:
    print("The number is even")
  else:
    print("The number is odd")

In [ ]:
odd_even(46)

The number is even

In [ ]:
odd_even(43)

The number is odd

In [ ]:
odd_even()

TypeError: ignored

In [ ]:
def nameAge(name,age):
  print("Hi, I am ",name)
  print("My age is ",age)

In [ ]:
nameAge(name="Ganesh",age=65)

Hi, I am  Ganesh
My age is  65

In [ ]:
nameAge(age=65,name="Ganesh")

Hi, I am  Ganesh
My age is  65

In [ ]:
nameAge("Ganesh",65)

Hi, I am  Ganesh
My age is  65

In [ ]:
nameAge(65,"Ganesh")

Hi, I am  65
My age is  Ganesh

In [ ]:
lst=[12,2,91,27]

In [ ]:

def xyz(lst):
  even_sum=0
  odd_sum=0
  for i in lst:
    if i%2==0:
      even_sum+=i
    else:
      odd_sum=odd_sum+i
  return even_sum,odd_sum

In [ ]:
xyz(lst)

(14, 118)

# LAB-Functions

In [ ]:
def final_amount(bill):
  print(1.18*(bill)+50)

In [ ]:
final_amount(1000)

1230.0

In [ ]:
def area(x,y):
  print("area of reactangle is-",x*y)
  print("Perimeter of reactangle is-",2*(x+y))

In [ ]:
area(5,8)

area of reactangle is- 40
Perimeter of reactangle is- 26

# Difference between print and return statement

In [ ]:
def sum_num(x,y):
  print(x+y)

In [ ]:
x=sum_num(2,5)

7

In [ ]:
print(x)

None

In [ ]:
def sum_num(x,y):
  return(x+y)

In [ ]:
x=sum_num(2,5)

In [ ]:
print(x)

7

# Lambda functions

In [ ]:
a=lambda x,y:x+y

In [ ]:
a(12,13)

25

In [ ]:
y=lambda x:"Even number" if x%2==0 else "Odd number"

In [ ]:
y(65)

'Odd number'

# List comprehension

In [ ]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
[i for i in range(1,10)]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
[i for i in range(1,30) if i<15]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
[i for i in range(1,30) if i<15 if i%2==0]

[2, 4, 6, 8, 10, 12, 14]